<head>
    <meta charset="UTF-8">
    <title>Ms. New Foodie</title>
</head>

<body>

    <h1>
        Ms. New Foodie
    </h1>

    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>

</body>

</html>