<div class="container row">
    <h1>Hi, Welcome to your Dashboard</h1>
</div>

{{!-- below content form version one --}}
<div class="hero-image">
    <div class="hero-text">
        <img src="../public/images/logo.jpg" alt="Ms New Foodie Logo" width="40" height="40">
        <p>Ms New Foodie</p>
        <form id="form">
            <input type="Find" id="query" name="Find" placeholder="American, Italian, Cali Burrito">
            <input type="Zip" id="query" name="Zip" placeholder="90210">
            <button>Search</button>
        </form>
    </div>
</div>

<p></p>